@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
          logs: true;
          root: ":root";
          include: button, badge, input, card;
          exclude: badge;
          themes: light --default, dark --prefersdark, cupcake;
        }