@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import "tailwindcss";

@font-face {
  font-family: lobster;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Lobster&display=swap")
    format("woff2");
}

.font-lobster {
  font-family: lobster;
}
